# Node
node_modules/

# VS Code
.vscode/

# Build output
dist/
out/
*.vsix

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Misc
*.tsbuildinfo
package-lock.json

# Ignore test coverage
coverage/

# Ignore local settings
*.user
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln
